* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.main {
  background-color: #fafafa;
}

/* Nav */

.mainNav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cecece;

  .logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1015px;
    padding: 20px 60px;

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 30px;
        height: auto;
        margin-right: 12px;
      }

      span {
        padding: 0 12px;
        border-left: 2px solid #140a00;
        font-size: 30px;
        font-family: 'Lobster', cursive;
      }
    }

    .searchInput input {
      width: 200px;
      padding: 5px;
      background-repeat: no-repeat;
      background-color: #fafafa;
      border: 1px solid #cecece;
      border-radius: 2px;

      &::-webkit-input-placeholder {
        background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
        background-size: contain;
        background-position: 1px center;
        background-repeat: no-repeat;
        text-align: center;
        text-indent: 0;
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 30px;
        height: auto;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/* Main */

.mainContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #fafafa;

  .mainSection {
    display: flex;
    justify-content: center;
    width: 1015px;
  }
}

.feeds {
  width: 600px;
  height: auto;
  margin-right: 28px;
  padding: 60px 12px;

  .feedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 12px;
    background-color: white;
    border: 1px solid #cecece;

    .user {
      display: flex;
      align-items: center;

      .userImg {
        width: 36px;
        height: 36px;
        margin-right: 12px;
        border-radius: 50%;
      }

      .userId {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
  .feedImg {
    height: 600px;
    background-image: url(../../assets/img/feed.JPG);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .feedBottom {
    padding: 2px 12px 2px 12px;
    background-color: white;
    border: 1px solid #cecece;

    .iconBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;

      .iconLeft {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100px;

        .icon {
          font-size: 22px;
        }
      }

      .iconRight .icon {
        font-size: 22px;
      }
    }

    .likes {
      display: flex;
      align-items: center;
      margin-bottom: 3px;

      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
      }
    }

    .feedText {
      margin-bottom: 3px;

      strong {
        margin-right: 5px;
      }
    }

    .commentBox {
      .commentTime {
        color: #909090;
        font-size: 13px;
        margin-bottom: 10px;
      }

      .commentList li {
        display: flex;

        strong {
          margin-right: 5px;
        }

        .commentText {
          display: flex;
          justify-content: space-between;
          width: 100%;

          button {
            width: 20px;
          }
        }
      }
    }
  }

  .commentInput {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #cecece;
    border-top: none;
    background-color: white;

    input {
      width: 100%;

      &::-webkit-input-placeholder {
        color: #909090;
      }
    }

    button {
      width: 40px;
      color: #c4e1fb;

      &:enabled {
        color: #0095f6;
      }
    }
  }
}

/* Main Right */

.mainRight {
  width: 293px;
  height: 100px;
  padding: 60px 0;

  .userContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img {
      width: 56px;
      height: 56px;
      margin-right: 12px;
      border-radius: 50%;
    }

    .userIdContainer {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: bold;
        }

        &:last-child {
          color: #909090;
        }
      }
    }
  }

  .storyContainer {
    height: 210px;
    margin-bottom: 12px;
    padding: 12px 10px;
    border: 1px solid #cecece;
    border-radius: 2px;
    overflow: scroll;

    .storyText {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 13px;

      span {
        &:first-child {
          color: #909090;
        }
      }
    }

    .storyList {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 3px solid rgb(255, 182, 104);
        margin-right: 12px;
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        font-size: 13px;

        span {
          &:first-child {
            font-weight: bolder;
          }

          &:last-child {
            color: #909090;
          }
        }
      }
    }
  }

  .rcmndContainer {
    margin-bottom: 12px;
    padding: 12px 10px;
    border: 1px solid #cecece;
    border-radius: 2px;

    .rcmndText {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin-bottom: 10px;

      span {
        &:first-child {
          color: #909090;
        }
      }
    }

    .rcmndList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .imgAndUserInfo {
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          margin-right: 12px;
          border-radius: 50%;
        }

        .userInfo {
          display: flex;
          flex-direction: column;
          font-size: 13px;

          span {
            color: #909090;
          }
        }
      }

      button {
        color: #0095f6;
      }
    }
  }

  footer {
    color: #cecece;
    font-size: 13px;

    p {
      margin-top: 12px;
    }
  }
}
